div.bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top:0;
  line-height: 1em;
  background-color: #7B9EA8;
  color: #FAFAFA;
  box-shadow: 0px 2px 10px 0px #656565;
}

.bar h1 {
  margin-left: 1em;
}

.bar > div {
  margin-right: 1em;
}

.bar button {
  border: none;
  padding: 0 1em;
  height: 100%;
  font-size: 16px;
  background-color: transparent;
  color: #FAFAFA;
  font-weight: 600;
}

.bar button:hover {
  border-radius: 3px;
  background: linear-gradient(180deg, rgba(136, 176, 189, 0.356), rgba(244, 246, 247, 0.363) 90.71%);
}